@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Righteous", sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  background: #e2d4ff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.sunrise-bg {
  background-image: url("/Sunrise.jpg"); /* sunrise */
}

.sunset-bg {
  background-image: url("/Sunset.jpg"); /* sunset */
}

.weather {
  /* existing styles in Weather.css */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37),
    0 1.5px 6px 0 rgba(0, 0, 0, 0.15);
}

.app-header {
  width: 100%;
  text-align: center;
  padding: 2rem 0 1rem 0;
}

.app-header h1 {
  font-family: "Righteous", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #fff;
}

@media (max-width: 600px) {
  .app-header {
    padding: 1rem 0 0.5rem 0;
  }
  .app-header h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-top: 70px;
    color: #fff;
  }
  .app {
    min-height: 100vh;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .sunrise-bg {
    background-image: url("/Sunrise.jpg");
  }
  .sunset-bg {
    background-image: url("/Sunset.jpg");
  }
}
